.footer-background {
  width: 150vw;
  height: 100vw;
  background-color: rgb(119, 171, 184);
  bottom: -70vw;
  right: -25vw;
  position: fixed;
  border-radius: 50%;
  z-index: -2;
}

.social-contact {
  bottom: 150vh;
  left: 75vw;
  position: absolute;

  img {
    width: 40px;
    height: 40px;
  }
}
