@import "src/app/utilities/_variables.scss";

.about-container {
  padding: 50px 100px;
}
.mask {
  img {
    border-radius: 50%;
    width: 380px;
  }
}

.about-me {
  width: 500px;
  font-size: 1.2em;
  line-height: 1.3em;
}

p {
  margin-top: 0;
}

.content {
  flex-wrap: wrap-reverse;
}