@import "src/app/utilities/_variables.scss";

$tab-height: 20px;
.experience-container {
  padding: 50px 50px 50px 100px;
  display: flex;
  min-height: 65vh;
  justify-content: center;
}

.experience-contents {
}

.contents {
}

.right {
  padding: 10px 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.sider-item {
  padding: 10px 20px;
  cursor: pointer;
  height: $tab-height;
}

.active,
.sider-item:hover {
  background-color: $lightest-navvy;
  color: $secondary;
}

.highlight {
  background-color: $secondary;
  height: calc(2 * $tab-height);
  width: 2px;
  top: 0;
  position: absolute;
  left: 0;
  z-index: 2;
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.role {
  font-size: 22px;
  color: $lightest-slate;
}

.company {
  font-size: 24px;
  color: $secondary;
  text-decoration: none;
}

.timestamp {
  font-size: 13px;
}

.sider {
  position: relative;
}

.duty {
  color: $slate;
  width: 500px;
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.bullet {
  width: 10px;
}
