@import "src/app/utilities/_variables.scss";

.projects-container {
  padding: 50px 50px 50px 150px;
}

.projects-content {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: fit-content;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 5px 10px;
  font-size: 0.9em;
  span {
    border-radius: 20px;
    border: 1px solid $secondary;
    padding: 5px 10px;
    color: $lightest-slate;
  }
}

.project-image {
  width: 100%;
  border-radius: 3px;
}

.categories {
  display: flex;
  justify-content: center;
  span {
    font-size: 1.2em;
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
    color: $slate;
  }
}

.active {
  color: $secondary !important;
}

.project-description {
  background: linear-gradient(
    181deg,
    rgb(255 255 255 / 0%) 0%,
    rgb(0 0 0 / 51%) 64.06%,
    rgb(0 0 0 / 67%) 93.23%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  place-content: flex-end;
  display: flex;
  height: 50%;
  padding: 10px;

  .project-title {
    color: white;
    font-weight: 700;
    font-size: 24px;
  }

  .project-details {
    color: $lightest-slate;
    font-size: 14px;
  }
}

.mobile {
  max-width: 300px;
}

.web {
  max-width: 1024px;
}
