<div class="contact-container" id="contact">
  <div class="portal-header">
    <span class="portal-line"></span>
    <span class="portal-id">03.</span>
    <span class="portal-header-title">What's Next?</span>
    <span class="portal-line"></span>
  </div>
  <div class="body">
    <h1>Get In Touch</h1>
    <p>
      Although I’m not currently looking for any new opportunities, my inbox is
      always open. Whether you have a question or just want to say hi, I’ll try
      my best to get back to you!
    </p>

    <div class="social-contacts">
      <a href="https://dribbble.com/baraka_keem">
        <img src="../../assets/drib.svg" alt="dribbble" />
      </a>
      <a href="https://github.com/Baraka-Mugisha">
        <img src="../../assets/git.svg" alt="github" />
      </a>
      <a href="https://www.upwork.com/freelancers/~01ed73d6aa3a16a838">
        <img src="../../assets/up.svg" alt="upwork" />
      </a>
      <a href="https://www.linkedin.com/in/jean-pierre-baraka-uwimana">
        <img src="../../assets/link.svg" alt="linkedin" />
      </a>
      <a
        href="https://api.whatsapp.com/send/?phone=250785459575&text=Hi+Bakeem%2C+I+want+you+to+help+me+with&app_absent=0"
      >
        <img src="../../assets/wat.svg" alt="whatsapp" />
      </a>
      <a href="mailto:mugishaje@gmail.com">
        <img src="../../assets/mai.svg" alt="mail" />
      </a>
    </div>
    <span class="footnote">2022 &copy; Jean Pierre Baraka</span>
  </div>
</div>
