$primary: #0d1d29;
$toPrimary: invert(7%) sepia(51%) saturate(801%) hue-rotate(164deg) brightness(95%) contrast(93%);


$secondary: #b6c1ff;
$toSecondary: invert(72%) sepia(10%) saturate(1152%) hue-rotate(195deg) brightness(102%) contrast(105%);
$secondaryRgb: rgb(183 192 252);

$main: #64F5E0;
$toMain: invert(94%) sepia(92%) saturate(576%) hue-rotate(90deg) brightness(99%) contrast(93%);


$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$lightest-navvy: #233554;