$primary: #0a192f;
$secondary: #64f5e0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$lightest-navvy: #233554;

.skills-container {
  padding: 50px 50px 50px 100px;

  .categories {
    span {
      font-size: 1.2em;
      text-transform: capitalize;
      cursor: pointer;
      display: inline-block;
    }
  }

  .active {
    color: $secondary;
  }

  .skill-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px 10px;
    font-size: 0.9em;
    .activeSkill {
      color: $primary;
      background: $secondary;
      border-color: $primary;
    }
    span {
      border-radius: 20px;
      border: 1px solid #a8b2d1;
      padding: 10px 20px;
    }
  }
}
