@import "src/app/utilities/_variables.scss";

.nav-bar {
  position: fixed;
  justify-content: center;
  height: 100vh;
  margin-left: 20px;
  top: 0
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
.nav-bar-item {
  z-index: 10;
  zoom: 0.9
}

.nav-icon {
  width: 22px;
}

.nav-icon-container {
  background-color: $slate;
  padding: 13px;
  border-radius: 50%;
  border: 1px solid $primary;
  display: flex;
}

.nav-text {
  z-index: -1;
  // padding: 11px 15px 11px 24px;
  font-size: 16px;
  color: black;
  background: $slate;
  border-radius: 0 30px 30px 3px;
  margin-left: -22px;
  transition: 0.3s ease-in-out;

  padding: 11px 15px 11px 6px;
  letter-spacing: -10px;
}

.nav-icon-container:hover,
.nav-text:hover {
  & + .nav-text{
    padding: 11px 15px 11px 24px;
    font-size: 16px;
    background: $light-slate;
    border-radius: 0 30px 30px 3px;
    margin-left: -20px;
    letter-spacing: 0;
  }
  
}

.active {
  transition: 0.5s ease-in-out;
  border-radius: 30px;
  .nav-icon-container {
    background-color: $primary;
    border: 1px solid $secondary;
    img {
      filter: $toSecondary
    }
  }
}
