<a>nav-bar works!</a>
<ul>
<li routerLinkActive="active"><a routerLink="about">About</a></li>
<li routerLinkActive="active"><a routerLink="projects">Projects</a></li>
<li routerLinkActive="active"><a routerLink="experience">Experience</a></li>
<li routerLinkActive="active"><a routerLink="skills">Skills</a></li>
<li routerLinkActive="active"><a routerLink="licenses">Licenses</a></li>
<li routerLinkActive="active"><a routerLink="education">Education</a></li>
<li routerLinkActive="active"><a routerLink="contact">Contact</a></li>
</ul>