@import "src/app/utilities/_variables.scss";

.primary {
  color: $secondary;
  padding: 12px 24px;
  border: 1px solid $secondary;
  width: fit-content;
  border-radius: 5px;
}

.secondary {
  color: $primary;
}

.button {
  cursor: pointer;
  text-decoration: none;
  display: block;
  &:hover {
    background-color: rgba($secondaryRgb, 0.18);
  }
}
