@import "src/app/utilities/_variables.scss";

.home-content {
  padding: 50px 50px 50px 150px;
}
.name {
  font-size: clamp(40px, 9vw, 100px);
  margin: 0;
  color: $secondary;
  max-width: 75%;
  margin-left: 15px;
}

.headline {
  color: $slate;
  margin: 0;
  font-size: 3.5rem;
}

.summary {
  max-width: 600px;
  line-height: 1.4rem;
  font-size: 1rem;
}

.hi {
  font-size: 18px;
}

.logo {
  position: fixed;
  transition: 0.2s;
  color: $secondary;
  font-family: "Titan One", cursive;
  text-decoration: none;
  font-size: 28px;
  &:hover {
    width: 57px;
  }
}

#home {
  padding-left: 20px;
  padding-top: 20px;
}

.resume {
  margin-top: 30px;
}
